<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
        <section name="PowerBiConfig" type="System.Configuration.AppSettingsSection" />
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Workflow.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.net></system.net>
    <nlog throwExceptions="true">
        <extensions>
            <add assembly="LogentriesNLog" />
        </extensions>
        <targets>
            <target name="logentries" type="Logentries" token="20a25ce4-84f3-4097-a869-c63237088876" debug="false" httpPut="false" ssl="false" layout="${date:format=ddd MMM dd} ${time:format=HH:mm:ss} ${date:format=zzz yyyy} ${logger} : ${LEVEL}, ${message}" />
        </targets>
        <rules>
            <logger name="*" minLevel="Debug" appendTo="logentries" />
        </rules>
    </nlog>
    <connectionStrings>
        <add name="Entities" connectionString="metadata=res://*/PrometheusCoreModels.csdl|res://*/PrometheusCoreModels.ssdl|res://*/PrometheusCoreModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ig-uat-sql.ignitiongroup.co.za,1433;initial catalog=PrometheusCore;persist security info=True; Integrated Security=true;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="SilverSurferBaseEntities" connectionString="metadata=res://*/Context.SilverSurferCRMData.csdl|res://*/Context.SilverSurferCRMData.ssdl|res://*/Context.SilverSurferCRMData.msl;provider=System.Data.SqlClient;provider connection string='data source=ig-dev-01.database.windows.net,1433;initial catalog=SilverSurferTST;integrated security=False;User ID=IG-FrontendManger;Password=c1bR1nbn234HaQ1mmFiL6;MultipleActiveResultSets=True;App=EntityFramework;'" providerName="System.Data.EntityClient" />
        <add name="LeadManagementEntity" connectionString="metadata=res://*/Context.LMS.LeadManagementContext.csdl|res://*/Context.LMS.LeadManagementContext.ssdl|res://*/Context.LMS.LeadManagementContext.msl;provider=System.Data.SqlClient;provider connection string='data source=ig-dev-01.database.windows.net,1433;initial catalog=SilverSurferTST;Integrated Security=False;User ID=IG-FrontendManger;Password=c1bR1nbn234HaQ1mmFiL6;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
        <add name="PrometheusCommsArchiveEntities" connectionString="metadata=res://*/Context.SilverSurferCommsArchiveEntities.csdl|res://*/Context.SilverSurferCommsArchiveEntities.ssdl|res://*/Context.SilverSurferCommsArchiveEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ig-uat-sql.ignitiongroup.co.za,1433;initial catalog=PrometheusCommsArchive;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="RAMServiceMessagesClientEntities" connectionString="metadata=res://*/Context.RamServiceContext.csdl|res://*/Context.RamServiceContext.ssdl|res://*/Context.RamServiceContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ig-uat-sql.ignitiongroup.co.za,1433;initial catalog=RAMServiceMessagesClient;Integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="TopBilling" connectionString="metadata=res://*/Context.TopBillingData.csdl|res://*/Context.TopBillingData.ssdl|res://*/Context.TopBillingData.msl;provider=System.Data.SqlClient;provider connection string='data source=ig-uat-sql.ignitiongroup.co.za,1433;initial catalog=IG-TopBilling;integrated security=false;User ID=IG-Topbilling;Password=KVHGt6ye;MultipleActiveResultSets=True;App=EntityFramework;'" providerName="System.Data.EntityClient" />
        <add name="CleansingEntities" connectionString="metadata=res://*/Context.CleansingData.csdl|res://*/Context.CleansingData.ssdl|res://*/Context.CleansingData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ig-dev-01.database.windows.net,1433;initial catalog=CleansingTST;user id=IG-FrontendManger;password=c1bR1nbn234HaQ1mmFiL6;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <PowerBiConfig configSource="PowerBi.config" />
    <appSettings>
        <add key="AzureStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=3cterxecmlnwc3;AccountKey=9oKPv7DVbZLrpaQ4X+R0EcU5QkgLXdZzj0WqaycGp1HXVRyX1KaJdArEX9NQc918JD86EZZImrDg4M7qsBUM4w==;EndpointSuffix=core.windows.net;" />
        <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=3cterxecmlnwc3;AccountKey=9oKPv7DVbZLrpaQ4X+R0EcU5QkgLXdZzj0WqaycGp1HXVRyX1KaJdArEX9NQc918JD86EZZImrDg4M7qsBUM4w==;EndpointSuffix=core.windows.net;" />
        <add key="TopBillingTimeoutMinutes" value="10" />
        <add key="JBillingTimeoutMinutes" value="10" />
        <add key="CommsQueueName" value="ordercommstest" />
        <add key="ActionDrivenCommsQueueName" value="actioncomms" />
        <add key="EnvironmentType" value="Dev" />
        <add key="BillingOnceOffFileUploadDelimeter" value="," />
        <add key="BillingOnceOffFileUploadLength" value="3" />
        <add key="BillingManualFileUploadLength" value="5" />
        <add key="LogEntriesIsEnabled" value="true" />
        <add key="DealUploadQueueName" value="dealuploadqueue" />
        <add key="DealUploadBlobName" value="dealuploadblob" />
        <add key="BillingImportQueueName" value="billingimporttest" />
        <add key="SalePendingQueueName" value="salependingqueue" />
        <add key="BillingWaitTime" value="0" />
        <add key="BillingEndTime" value="22:30" />
        <add key="BillingFailedServiceMaxDays" value="-28" />
        <add key="BillingAddressMaxLength" value="100" />
        <add key="BillingExtractQueueName" value="billingextracttest" />
        <add key="BillingErrorQueueName" value="billingerrortest" />
        <add key="BillingRefreshQueueName" value="refreshextracttest" />
        <add key="BillingUpdateQueueName" value="billingupdatetest" />
        <add key="BillingOnceOffStorageName" value="billingonceofftest" />
        <add key="BillingOnceOffQueueName" value="billingonceoffimporttest" />
        <add key="BillingManualStorageName" value="billingmanualtest" />
        <add key="BillingManualQueueName" value="billingmanualimporttest" />
        <add key="BillingPaymentImportQueueName" value="paymentimporttest" />
        <add key="ActivationProcessingQueueName" value="activationprocessingtest" />
        <add key="ActorResurrectionQueueName" value="actorresurrectiontest" />
        <add key="BillingSettings" value="TopBilling" />
        <add key="TopBillingUsername" value="SilverSurfer" />
        <add key="TopBillingPassword" value="P@55w0rd!@#" />
        <add key="TopBillingServer" value="http://196.33.143.60:100/api/service" />
        <add key="SocietyVoucherURL" value="#{SocietyVoucherURL}" />
        <add key="Module" value="SilverSurfer" />
        <add key="UsernamePrefix_DealDepot" value="DDE" />
        <add key="UsernamePrefix_FinesCure" value="FCA" />
        <add key="UsernamePrefix_Halo" value="HALO" />
        <add key="UsernamePrefix_Hotspotter" value="HSAOS" />
        <add key="MagZoneZinioPrice" value="0.40" />
        <add key="MagzoneZinionExternalRef" value="500567810,500567811,500567813,500567814,500567815,500567911,500567912,500567913,500567817,500567818,500567915,500567916,500567820,500567917,500567821,500567918,500567919,500567822,500567920,500567921,500567823,500567922,500567923,500567924,500567925,500582711,500582712,500567926,500582810,500582710,500567824,500567927,500567825,500567928,500567929,500567930,500597410,500597411,500597510,500597412,500567827,500567828,500567931,500567829,500567830,500567932,500567839,500567933,500567934,500567935,500567831,500567936,500567833,500567938,500567835,500567836,500567939,500567940,500567838,500567941" />
        <add key="UsernamePrefix_LifeAid" value="LFA" />
        <add key="CoreAddress" value="http://T1.core.api.ignitiongroup.co.za/" />
        <add key="UsernamePrefix_Luno" value="LN" />
        <add key="UsernamePrefix_Milc" value="Milc" />
        <add key="UsernamePrefix_Society" value="SCT" />
        <add key="UsernamePrefixChase" value="CH" />
        <add key="UsernamePrefixOnAir" value="OA" />
        <add key="UsernamePrefixChase" value="CH" />
        <add key="UsernamePrefixOnAir" value="OA" />
        <add key="UsernamePrefix_Simfy" value="SM" />
        <add key="ThirdPartyUrl_Kintel" value="http://kintel.tch.co.za/admin/api.asp" />
        <add key="ThirdPartyUrl_PhoneBox" value="http://phonebox.tch.co.za/admin/api.asp" />
        <add key="ThirdPartyUrl_TechTrace" value="http://techtrace.tch.co.za/admin/api.asp" />
        <add key="SMSEndpoint" value="http://core.T1.silversurfer/Services/Communications/Clickatell.svc" />
        <add key="MandrillSendTemplateUrl" value="http://t1.emails.ignitiongroup.co.za/MandrillApi/SendTemplateEmail/" />
        <add key="MandrillRenderTemplateUrl" value="http://t1.emails.ignitiongroup.co.za/MandrillApi/RenderTemplateEmail/" />
        <add key="OrderReferenceTag" value="{OrderReference}" />
        <add key="FirstNameTag" value="{FirstName}" />
        <add key="LastNameTag" value="{LastName}" />
        <add key="TinyURLTag" value="{TinyURL}" />
        <add key="ActivationNumTag" value="{ActivationNumber}" />
        <add key="CustomerIdNumberTag" value="{CustomerIdNumber}" />
        <add key="UsernameTag" value="{Username}" />
        <add key="PasswordTag" value="{Password}" />
        <add key="WaybillNumberTag" value="{WaybillNumber}" />
        <add key="VoucherTag" value="{Voucher}" />
        <add key="VoucherCodeTag" value="{VoucherCodeTag}" />
        <add key="VoucherAmountTag" value="{VoucherAmountTag}" />
        <add key="ProviderNameTag" value="{ProviderNameTag}" />
        <add key="Testing" value="true" />
        <add key="InstallerName" value="{InstallerName}" />
        <add key="InstallerAddress" value="{InstallerAddress}" />
        <add key="InstallerContactNumber" value="{InstallerContactNumber}" />
        <add key="Brand" value="{Brand}" />
        <add key="JBilling.ServiceUri" value="http://lab-ignition.jbilling.com:8080/jbilling/services/api" />
        <add key="JBillingApiUser" value="aipUser;62" />
        <add key="JBillingUser" value="aipUser" />
        <add key="JBillingPassword" value="123qwerT!" />
        <add key="TopBilling.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/Billing/TopBilling.svc" />
        <add key="Hotspotter.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/AlwaysOn/HAlwaysOn.svc" />
        <add key="VasxViewBilling.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/Billing/VasxViewBilling.svc" />
        <add key="TCHService.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/TCH/TCHService.svc" />
        <add key="CarCure.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/CarCure/CarCureService.svc" />
        <add key="ExtremeLifestyle.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/ExtremeLifestyle.svc" />
        <add key="SafetyBox.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/InfraScaleService.svc" />
        <add key="Simfy.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/Simfy/Simfy.svc" />
        <add key="iOnline.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/IOnline/IOnlineService.svc" />
        <add key="Magzone.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/MagzonePlus/MagzonePlusZinio.svc" />
        <add key="MrpVasx.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/Telecomms/MRP/VasxService.svc" />
        <add key="VasxView.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VasXView/VXViewService.svc" />
        <add key="Society.ServiceUri" value="http://T1.core.api.ignitiongroup.co.za/Services/VAS/Society/SocietyService.svc" />
        <add key="ClientName" value="Ignition" />
        <add key="CarCurePassword" value="Ign123$" />
        <add key="Environment" value="T1" />
        <add key="CallType" value="policy.create.1" />
        <add key="DealershipName" value="Ignition Group" />
        <add key="TermType" value="M" />
        <add key="CarCureProductSuiteName" value="Streamline" />
        <add key="CarCureProductOptionName" value="Ignition Group Car Cure" />
        <add key="CustomerType" value="P" />
        <add key="WaitByMinutes" value="true" />
        <add key="WaitTime" value="5" />
        <add key="ActivationWaitByMinutes" value="true" />
        <add key="ActivationWaitTime" value="1" />
        <add key="SafeBaseSuccessCode" value="0" />
        <add key="SafetyBoxSuccessCode" value="Success" />
        <add key="DebitCount" value="3" />
        <!--J Billing-->
        <add key="AccessEntity" value="62" />
        <add key="BillingType" value="1" />
        <add key="CurrencyId" value="60" />
        <add key="UserAssignedStatusId" value="4" />
        <add key="OrderStatusId" value="4" />
        <add key="MainRoleId" value="5" />
        <add key="LanguageId" value="1" />
        <add key="CustomerStatusId" value="1" />
        <add key="SubscriberStatusId" value="1" />
        <add key="OnceOffId" value="1" />
        <add key="MethodId" value="-1" />
        <!--TopBilling-->
        <add key="MaxBufferSize" value="268435456" />
        <add key="MaxReceivedMessageSize" value="268435456" />
        <add key="MaxBufferPoolSize" value="268435456" />
        <add key="TopBillingHoursToLookBack" value="1" />
        <add key="DebitCount" value="3" />
        <!--Showmax configuration keys -->
        <add key="ShowmaxBaseURL" value="https://api.showmax.io/" />
        <add key="ShowmaxPartnerId" value="prt000010za" />
        <add key="ShowmaxAccessToken" value="6727f882-8203-4bda-87eb-2fc58568e025" />
        <!--OnAirTV configuration keys -->
        <add key="OnAirTVBaseURL" value="https://api.showmax.io/" />
        <add key="OnAirTVPartnerId" value="prt000010za" />
        <add key="OnAirTVAccessToken" value="6727f882-8203-4bda-87eb-2fc58568e025" />
        <!-- VasxActor Status Codes -->
        <add key="VASXAccountCreationAction" value="CreateAccount" />
        <add key="VASXCreateAndActivateSubscriberAction" value="CreateAndActivateSubscriber" />
        <add key="VASXSuccessCode" value="SystemAPI-Success" />
        <add key="VasxActionName" value="AddService" />
        <!--Mrp Mobile-->
        <add key="MrpMobile.VASXUsername" value="ADMIN" />
        <add key="MrpMobile.VASXPassword" value="AdmIn@889#" />
        <add key="MrpMobile.VASXVirtualNetwork" value="1" />
        <add key="MrpMobile.DirectDebit" value="1" />
        <add key="MrpMobile.DeliveryMethod" value="SMS" />
        <add key="MrpMobile.VasxAccountType" value="Consumer" />
        <add key="MrpMobile.AutoBarRule" value="Unbilled Calls Only" />
        <add key="MrpMobile.StatementType" value="S" />
        <add key="MrpMobile.LimitNotifyLevel1" value="70" />
        <add key="MrpMobile.LimitNotifyLevel2" value="80" />
        <add key="MrpMobile.LimitNotifyLevel3" value="90" />
        <add key="MrpMobile.Msisdnless" value="1" />
        <add key="MrpMobile.CreditTab" value="3336" />
        <!--Corporate-->
        <add key="MrpCorporate.VasxAccountType" value="Corporate" />
        <!--Mrp SimOnly-->
        <add key="MrpSimOnly.VASXUsername" value="ADMIN" />
        <add key="MrpSimOnly.VASXPassword" value="AdmIn@889#" />
        <add key="MrpSimOnly.VASXVirtualNetwork" value="1" />
        <add key="MrpSimOnly.VasxAccountType" value="Consumer" />
        <add key="MrpSimOnly.DirectDebit" value="1" />
        <add key="MrpSimOnly.DeliveryMethod" value="SMS" />
        <add key="MrpSimOnly.AutoBarRule" value="Unbilled Calls Only" />
        <add key="MrpSimOnly.Msisdnless" value="1" />
        <add key="MrpSimOnly.VasxAccountNumber" value="PPPPPPPPPT" />
        <add key="MrpSimOnly.VasxAccountUID" value="5308957" />
        <add key="MrpSimOnly.CreditTab" value="3338" />
        <add key="MrpSimOnly.SubscriberType" value="GSM Post Paid" />
        <add key="MrpSimOnly.Language" value="English" />
        <add key="MrpSimOnly.Currency" value="SA Rand" />
        <add key="MrpSimOnly.BillCycle" value="Main Bill Cycle" />
        <add key="Society.VoucherTypeId" value="4" />
        <!--RedData-->
        <add key="RedData.VASXUsername" value="RED" />
        <add key="RedData.VASXPassword" value="Abcd123$" />
        <add key="RedData.VASXVirtualNetwork" value="12" />
        <add key="RedData.DirectDebit" value="1" />
        <add key="RedData.DeliveryMethod" value="Email" />
        <add key="RedData.BillCycle" value="PPB" />
        <add key="RedData.BillCycleUid" value="16" />
        <add key="RedData.AutoBarRule" value="No Barring" />
        <add key="RedData.VasxAccountType" value="Residential" />
        <add key="RedData.StatementType" value="C" />
        <add key="RedData.Msisdnless" value="0" />
        <add key="RedData.SubscriberType" value="GSM Post Paid" />
        <add key="RedData.Language" value="English" />
        <add key="RedData.Currency" value="SA Rand" />
        <add key="VasXAPIV2.Session" value="C:\\temp\\VasXViewV2Sessions.xml" />
        <add key="VasXAPIV2.ServiceUri" value="http://api.ppd.mvnxmobile.co.za/vx_system_api_web/VXSystemAPIService?wsdl" />
        <add key="VasXAPIV2.MsisdnPrefix" value="27" />
        <add key="VasxUpgradeTimeoutMinutes" value="30" />
        <add key="VasxUpgradeDealerUID" value="1" />
        <add key="VasXUpgrades.SearchType" value="MSISDN" />
        <!--Sale Pending Processing service-->
        <add key="SalePendingProcessingDelay_InMinutes" value="30" />
        <add key="SalePendingOrdersOlderThan_InHours" value="1" />
        <add key="SalePendingOrdersGoingBack_InDays" value="1" />
        <add key="SalePendingOrdersRecordstoRetrieveFromDB" value="100" />
        <add key="YelloDataCarrier" value="yellodata" />
        <!-- SMS Bulk Upload-->
        <add key="SMSBulkImportQueueName" value="bulksmsimportqueue" />
        <add key="SMSBulkUploadBlobContainerName" value="bulksmsimportblob" />
        <add key="SMSBulkUploadDelimeter" value="|" />
        <add key="OrderReferenceDelimeter" value="-" />
        <!--Techlocker-->
        <add key="Techlocker.VoucherTypeId" value="56" />
        <add key="VoucherSystemBaseURL" value="http://vouchers.admin.testing/modules/vasVouchers/api/" />
        <!--AtMail-->
        <add key="AtMailServiceUrl" value="https://mail.conline.co.za/index.php/api/users/" />
        <add key="AtMailAuthKey" value="admin:eLiAdm1n" />
        <add key="AtMailFailedStatus" value="failed" />
        <add key="AtMailExistKeyword" value="exist" />
        <!--vas Create Subscription  -->
        <add key="ItemEscalation" value="0000000000000000" />
        <add key="OrderItemNumber" value="1" />
        <add key="CallFlag" value="1" />
        <add key="UserNameCreateSubscription" value="OnlineUser" />
        <!-- Fruad Check Upload -->
        <add key="FraudCheckUploadQueueName" value="fraudcheckqueue" />
        <add key="FraudCheckUploadBlobName" value="fraudcheckuploadblob" />
        <add key="FraudCheckUploadDelimeter" value="," />
        <add key="FraudCheckIdentifierNumberMaxLength" value="30" />
        <add key="FraudCheckMSISDNMaxLength" value="50" />
        <add key="FraudCheckBankAccoutMaxLength" value="100" />
        <add key="BulkProductUploadQueueName" value="bulkproductuploadq" />
        <add key="BulkProductUploadBlobName" value="bulkproductuploadblob" />
        <add key="InfraScaleHeaderUsername" value="32631WS" />
        <add key="InfraScaleHeaderPassword" value="uY8zKVz" />
        <add key="InfraScaleBodyPassword" value="Ign1t10n" />
        <add key="InfraScaleBodyUsername" value="Ignition" />
        <add key="InfraScaleCustomerTypeCode" value="32631WS" />
        <add key="InfraScalelocaleCode" value="en_GB" />
        <add key="InfraScaleSecretQuestion" value="What is your Id Number?" />
        <!-- Temp Upload Service -->
        <add key="TakeCountForTempUpload" value="50" />
        <add key="WaitTimeInMinutesForTempUpload" value="5" />
        <!-- Temp Lead File Upload -->
        <add key="TempLeadFileUploadQueueName" value="leadfileblobqueue" />
        <add key="TempLeadFileUploadBlobName" value="leadblobqueue" />
        <add key="WaitTimeInMinutesForLeadFTPService" value="15" />
        <!-- Lead File Blob Service -->
        <add key="LeadUploadDelimeter" value="," />
        <!-- VAS Basket Limit Configs -->
        <add key="VASBasketLimit" value="5" />
        <add key="VASBasketLimitMonthsCheck" value="-6" />
        <!--Simfy-->
        <add key="SimfyBaseUrl" value="https://simfyafrica.staging.exactdev.co.za/ApiZa/user" />
        <add key="SimfyApiUsername" value="ign" />
        <add key="SimfyApiPassword" value="ign" />
        <add key="SimfyEmail" value="@somusic.co.za" />
        <add key="SimfyLogging" value="false" />
        <!-- Zinio API URL's -->
        <add key="ZinioBaseUrl" value="https://sbx-api-sec.ziniopro.com" />
        <add key="ZinioTokenAuthAppendedUrl" value="oauth/v2/tokens" />
        <add key="ZinioCreateSubscriptionAppendedUrl" value="fulfillment/v2/label_batches" />
        <add key="ZinioUserCreationAppendedUrl" value="identity/v2/users" />
        <!-- Zinio Token Authentication -->
        <add key="ZinioClientId" value="7633e12d974a4c9c9c0a5b80a9637f16" />
        <add key="ZinioClientSecret" value="23400e68acf941aca88aa1a409ede8b9" />
        <add key="ZinioGrantType" value="client_credentials" />
        <!-- Zinio User creation -->
        <add key="ZinioDirectoryId" value="3" />
        <add key="ZinioRegistrationStatus" value="0" />
        <add key="ZinioSendPreregistrationEmail" value="true" />
        <add key="ZinioStatus" value="1" />
        <add key="ZinioCreatedBy" value="6251" />
        <add key="ZinioCreatedByType" value="2" />
        <!-- Zinio Get User -->
        <add key="ZinioDirectory" value="directory_id" />
        <add key="ZinioNewsStands" value="newsstand/v2/newsstands" />
        <add key="ZinioUserRegistrations" value="user_registrations" />
        <add key="ZinioNewsStandId" value="134" />
        <!-- Zinio Create Subscription -->
        <add key="ZinioProjectId" value="99" />
        <add key="ZinioAccountId" value="6251" />
        <add key="ZinioSourceApplicationId" value="11391" />
        <add key="ZinioSourceProjectId" value="1139" />
        <add key="ZinioProductType" value="3" />
        <add key="ZinioPublicationIds" value="8631,6654,1442,5291,7885,5181,1656,1657,1186,4284,7756,7623,2615,5132,6302,2277,1623,2810,4266,1569,1135,3210,1658,1187,2861,1330,2449,1331,8633,5148,7882,1624,5133,4876,4896,7691,7088,6363,8634,6146,5186,7883,3209,5155,6932,1592,5187,1564,8063,4812,8084,5976,2117,7624,4613,8353,7762,1593,4227,5188,5345,1594,6665,4128,33503,6977" />
        <!--ClickaTell-->
        <add key="ClickatellBaseUrl" value="http://api.clickatell.com" />
        <add key="ClickatellApiUsername" value="comit" />
        <add key="ClickatellApiPassword" value="bergsma777" />
        <add key="ClickatellApiId" value="1059733" />
        <add key="ClickatellIsTesting" value="false" />
        <add key="DefaultServiceTimeoutMinutes" value="5" />
        <!-- Lead Blob Processing Service -->
        <add key="WaitTimeInMinutesForLeadBlobService" value="1" />
        <!-- Debicheck Configuration-->
        <add key="DebiCheckAuthUrl" value="https://mercurius-uat.cib.digital/api/User/Authenticate" />
        <add key="DebiCheckMandateUrl" value="https://mercurius-uat.cib.digital/api/initiation" />
        <add key="DebiCheckListMandateUrl" value="https://mercurius-uat.cib.digital/api/Mandate/List" />
        <add key="DebiCheckAPIKey" value="559640783058542592" />
        <add key="DebiCheckUsername" value="ComitTech" />
        <add key="DebiCheckPassword" value="C0mi7T3ch@" />
        <add key="DebiCheckMaxRetry" value="3" />
        <add key="DebicheckMandateStatus" value="0,5,10,20,30,40" />
        <add key="AthenticationInstrument" value="0230" />
        <add key="AuthenticationType" value="10" />
        <add key="CreditorPhoneNumber" value="+27-315828352" />
        <add key="CreditorEmail" value="" />
        <add key="CollectionType" value="AC" />
        <add key="DebitValueType" value="1" />
        <add key="EntryClassCode" value="32" />
        <add key="TrackingIndicator" value="true" />
        <add key="DateAdjustmentAllowed" value="true" />
        <add key="CurrencyCode" value="ZAR" />
        <add key="DebicheckQueueName" value="debicheck" />
        <add key="DebicheckCertLocation" value="Ignition group ppd.pfx" />
        <add key="DebicheckCertKey" value="Igni123" />
        <add key="DebicheckSessionExpireInMinutes" value="-30" />
        <add key="DebicheckRetryStatuses" value="0,5,6" />
        <!-- Avsr  -->
        <!--<add key="certlocation" value="C:\IgnDev\SilverSurfer\DotNetSystem\Prometheus.Core\Prometheus.Core.WebService\Certificates\avsr_ignitiongroup.p12" />
    <add key="certpassword" value="avsruat" />
    <add key="avsruser" value="AVSR004000" />-->
        <!-- TCH  -->
        <add key="TchApiUsername" value="admin" />
        <add key="TchApiPassword" value="C0ffee72!" />
        <add key="TchCreateFunction" value="create_user" />
        <add key="TchCancelFunction" value="cancel_user" />
        <add key="TchActivateFunction" value="activate_user" />
        <add key="ThirdPartyServiceIsTesting" value="false" />
        <!-- AlwaysOn Third party -->
        <add key="AlwaysOnApiKey" value="R5g7NYy-19903Dv6HqPf-30259GqqLrC" />
        <add key="AlwaysOnBaseUrl" value="https://hotspot.alwayson.co.za/AlwaysOnVoucherAPI/VoucherService.svc" />
        <add key="AlwaysOn_Method_CreateVoucherCustomUsername" value="CreateVoucherCustomUsername" />
        <add key="AlwaysOn_Method_CreateCustomer" value="CreateCustomer" />
        <add key="AlwaysOn_Method_CancelVoucher" value="CancelVoucher" />
        <add key="AlwaysOn_Method_GetLocations" value="getHotspotLocations" />
        <add key="AlwaysOn_Method_CheckBalance" value="GetVoucherUsageSummary" />
        <add key="AlwaysOn_Method_ChangePassword" value="ChangePassword" />
        <add key="AlwaysOn_Param_ApiKey" value="api_key" />
        <add key="AlwaysOn_Param_UserName" value="username" />
        <add key="AlwaysOn_Param_Name" value="name" />
        <add key="AlwaysOn_Param_SurName" value="surname" />
        <add key="AlwaysOn_Param_Password" value="password" />
        <add key="AlwaysOn_Param_Mobile" value="mobile" />
        <add key="AlwaysOn_Param_VoucherCode" value="vouchercode" />
        <add key="AlwaysOn_Param_Email" value="email" />
        <add key="AlwaysOn_Param_CellPhone" value="cellphone" />
        <add key="AlwaysOn_Param_PackageId" value="package_id" />
        <add key="AlwaysOn_Param_SingleCode" value="single_code" />
        <add key="AlwaysOn_Param_Lata" value="lata" />
        <add key="AlwaysOn_Param_Latb" value="latb" />
        <add key="AlwaysOn_Param_Lnga" value="lnga" />
        <add key="AlwaysOn_Param_Lngb" value="lngb" />
        <add key="Cleansing.Comit" value="385" />
        <add key="Cleansing.Voice" value="384" />
        <add key="Cleansing.CoolOffDate" value="60" />
        <add key="Cleansing.SalesPeriod" value="-15" />
        <add key="Cleansing.RecheckPeriod" value="-15" />
        <add key="RecycledLeadStatusDetailId" value="1" />
        <add key="RecycledLeadTypeId" value="2" />
        <!-- Base address for TinyURL generation -->
        <add key="TinyBaseURL" value="http://i.eoco.co.za/create.php?u=" />
        <add key="BulkStatusUploadBlob" value="bulkstatusuploadblob" />
        <add key="LeadCleansingUploadBlob" value="leadcleansinguploadblob" />
        <!--Communications SMS-->
        <add key="CommunicationsSMSApiId" value="1059733" />
        <add key="CommunicationsSMSApiIdUsername" value="comit" />
        <add key="CommunicationsSMSApiIdPassword" value="bergsma777" />
        <add key="CommunicationsSMSURL" value="http://api.clickatell.com/http/sendmsg" />
        <!--Gmail-->
        <add key="GmailHost" value="smtp.gmail.com" />
        <add key="GmailPort" value="587" />
        <add key="GmailUsername" value="smtp.unit.test@gmail.com" />
        <add key="GmailPassword" value="smtptest" />
        <!-- Driven  -->
        <add key="ThirdPartyUrl_Driven" value="https://api.roadtrip.co.za/v1/" />
        <add key="CreateMethodName_Driven" value="members/register" />
        <add key="CancelMethodName_Driven" value="members/" />
        <add key="AuthenticateMethodName_Driven" value="authenticate" />
        <add key="AuthenticateUsername_Driven" value="Ignition" />
        <add key="AuthenticatePassword_Driven" value="atLpU7UYz3Xcq3mw" />
        <add key="Plan_Driven" value="Ignition" />
        <add key="MinPasswordLength" value="6" />
        <!-- Freemium Bulk Order Upload -->
        <add key="FrmBulkUploadBlobContainerName" value="frmbulkuploadblob" />
        <add key="FrmBulkUploadQueueName" value="frmbulkuploadqueue" />
        <add key="BulkOrderUploadServiceDelayInMinutes" value="1" />
        <add key="FrmDealTrialDaysDefault" value="90" />
        <add key="FrmConversionProcessingDelayInHours" value="1" />
        <add key="Comms15Days" value="15" />
        <add key="Comms60Days" value="60" />
        <add key="FreemiumCommsProcessingServiceDelayInHours" value="3" />
        <!-- Mandrill Email Compoment -->
        <add key="ProxyDomain" value="elite" />
        <add key="ProxyUser" value="silver.surfer" />
        <add key="ProxyPassword" value="S1lverSurf3r" />
        <add key="MadrillApiKey" value="SDAidP7KhCYpZwxmILekuA" />
        <add key="MadrillApiSendTemplateURL" value="https://mandrillapp.com/api/1.0/messages/send-template.json" />
        <add key="MadrillApiRenderTemplateURL" value="https://mandrillapp.com/api/1.0/templates/render.json" />
        <!-- Common config values -->
        <add key="PipelineDelimeter" value="|" />
        <add key="DateFormatddMMyyyy_HHmmss" value="ddMMyyyy_HHmmss" />
        <add key="CommaDelimeter" value="," />
        <add key="FileFormatCsv" value=".csv" />
        <add key="DateFormatyyyyMMddHHmmss" value="yyyyMMddHHmmss" />
        <add key="OrderReferenceMaxLength" value="30" />
        <add key="MsisdnMinLength" value="5" />
        <add key="MsisdnMaxLength" value="11" />
        <add key="AmountMaxLength" value="8" />
        <!-- SnapScan -->
        <add key="SnapScanQueueName" value="snapscanqueue" />
        <add key="SnapScanPaymentQueueName" value="snapscanpaymentqueue" />
        <add key="SnapScanBlobName" value="snapscanblob" />
        <add key="FieldOrderReference" value="OrderReference" />
        <add key="FieldAmount" value="Amount" />
        <add key="FieldEmail" value="Email" />
        <add key="FieldMsisdn" value="MSISDN" />
        <add key="SnapScanQrCodeUrl" value="https://pos.snapscan.io/qr/X6oSt5mB?id={0}%26amount={1}" />
        <add key="SnapScanQrImageUrl" value="https://pos.snapscan.io/qr/X6oSt5mB.png?id={0}%26amount={1}" />
        <add key="SnapScanCommsServiceDelayInMinutes" value="2" />
        <add key="SnapScanPaymentProcessingServiceDelayInMinutes" value="2" />
        <add key="SnapScanUploadProcessingServiceDelayInMinutes" value="2" />
        <!--Redis-->
        <add key="RedisHost" value="ssredistest.redis.cache.windows.net" />
        <add key="RedisPort" value="6380" />
        <add key="RedisSsl" value="true" />
        <add key="RedisPassword" value="h5dyruqYMzCSclH4pUHBeQf6vg+p+cLfkLHrLYxVk94=" />
        <!--Lead Cleansing-->
        <add key="CommitOrdering" value="7" />
        <add key="VoiceOrdering" value="25" />
        <add key="VoiceRecheckOrdering" value="-25" />
        <add key="LCDelayInMinutes" value="5" />
        <add key="Cleansing.ComitDays" value="3" />
        <add key="Cleansing.OtherDays" value="-28" />
        <add key="Cleansing.TwoWeekPeriod" value="-15" />
        <!--SOS Squad Digicall SFTP config values-->
        <add key="SOSSquadHost" value="sftp.digicall.co.za" />
        <add key="SOSSquadPort" value="22" />
        <add key="SOSSquadUsername" value="ignition" />
        <add key="SOSSquadPassword" value="6JaDgZG" />
        <add key="SOSSquadRemotePath" value="/Test" />
        <!--SOS Squad Ignition SFTP config values-->
        <add key="SOSSquadInternalHost" value="SFTP.Ignitiongroup.co.za" />
        <add key="SOSSquadInternalPort" value="22" />
        <add key="SOSSquadInternalUsername" value="VAS_CData" />
        <add key="SOSSquadInternalPassword" value="B4d563RZ4h639dy" />
        <add key="SOSSquadInternalRemotePath" value="/Test" />
        <!--SMTP-->
        <add key="SmtpHost" value="smtp.mandrillapp.com" />
        <add key="SmtpPort" value="587" />
        <add key="SmtpUsername" value="devsupport@ignitiongroup.co.za" />
        <add key="SmtpPassword" value="SDAidP7KhCYpZwxmILekuA" />
        <add key="SmtpEnableSsl" value="true" />
        <!--SOSSquadFileUploadServiceApp Execution Configuration-->
        <add key="SOSServiceEnvironmentIsProduction" value="false" />
        <add key="SOSServiceExecutionTimeInHours" value="2" />
        <add key="SOSUploadObjectCount" value="50000" />
        <add key="SOSConnectionTimeout" value="600" />
        <add key="SOSSquadFailedFileUploadEmailSendTo" value="hitanshi.thakur@cygnetinfotech.com,simranjeet.chawla@cygnetinfotech.com" />
        <add key="SOSStoreProcedureName" value="Ord.prSOSSquadActiveOrder" />
        <add key="ProductionReplicaConnectionString" value="data source=ig-dev-01.database.windows.net,1433;initial catalog=SilverSurferTST;integrated security=False;User ID=IG-FrontendManger;Password=c1bR1nbn234HaQ1mmFiL6;MultipleActiveResultSets=True;App=EntityFramework;" />
        <!--VasX Service for upgrade contract-->
        <add key="VasXAPIV2.SubscriberServiceUri" value="http://api.ppd.mvnxmobile.co.za/subscriber-services-web-1.0/SubscriberServicesService?wsdl" />
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding></basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ITopBilling">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="CustomBinding_IJBilling">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="ServiceBehavior">
                    <enableWebScript />
                </behavior>
                <behavior name="web">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="http://core.T1.silversurfer/Services/VAS/AlwaysOn/HAlwaysOn.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcAlwaysOn.IHAlwaysOn" name="SvcRefAlwaysOn.IHAlwaysOn" />
            <endpoint address="http://core.T1.silversurfer/Services/Billing/VasxViewBilling.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcVasxViewBilling.IVasxViewBilling" name="BasicHttpBinding_IVasxViewBilling" />
            <endpoint address="http://core.T1.silversurfer/Services/VAS/TCH/TCHService.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcTCH.ITCHService" name="SvcTCH.ITCHService" />
            <endpoint address="http://core.T1.silversurfer/Services/VAS/CarCure/CarCureService.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcCarCure.ICarCureService" name="SvcCarCure.ICarCureService" />
            <endpoint address="http://core.T1.silversurfer/Services/VAS/ExtremeLifestyle.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcExtremeLifestyle.IExtremeLifestyle" name="SvcExtremeLifestyle.ExtremeLifestyle" />
            <endpoint address="http://core.T1.silversurfer/Services/VAS/InfraScaleService.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcInfraScale.IInfraScaleService" name="BasicHttpBinding_IInfraScaleService" />
            <endpoint address="http://core.T1.silversurfer/Services/VAS/Simfy/Simfy.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcSimfy.ISimfy" name="SvcSimfy.ISimfy" />
            <endpoint address="http://core.T1.silversurfer/Services/Billing/TopBilling.svc" binding="customBinding" bindingConfiguration="CustomBinding_ITopBilling" contract="SvcTopBilling.ITopBilling" name="CustomBinding_ITopBilling" />
            <endpoint address="http://core.T1.silversurfer/Services/Billing/JBilling.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcJBilling.IJBilling" name="SvcJBilling.IJBilling" />
            <endpoint address="http://core.T1.silversurfer/Services/IOnline/IOnlineService.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvciOnline.IIOnlineService" name="SvciOnline.IOnlineService" />
            <endpoint address="http://core.T1.silversurfer/Services/VAS/Society/SocietyService.svc" behaviorConfiguration="web" binding="webHttpBinding" contract="SvcSociety.ISocietyService" name="SvcSociety.SocietyService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Workflow.Common.Properties.Settings>
            <setting name="VasxSuccessCode" serializeAs="String">
                <value>SystemAPI-Success</value>
            </setting>
            <setting name="VasxActionName" serializeAs="String">
                <value>AddService</value>
            </setting>
        </Workflow.Common.Properties.Settings>
    </userSettings>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>